{% extends 'navigationbar.html' %}
{% load static %}
{%  block body  %}
<div class="container" style = "margin-top:50px">
<h2 class="text-center">Contact Us</h2>
<br><br>
<div class="row mt-5 text-center">
    <div class="col-lg-3 col-sm-6 mydivstyle">
     <h4><i class="fas fa-phone-square"></i> Contact</h4>
        <p class="mt-3 font-weight-bold"><a href="tel:+91 9865010365">+91 9865010365</a></p>
    </div>

    <div class="col-lg-3 col-sm-6 mydivstyle">
     <h4><i class="fas fa-envelope"></i> Send Email</h4>
        <p class="mt-3 font-weight-bold"><a href="mailto:sivasakthihospital@gmail.com">sivasakthihospital@gmail.com</a></p>
    </div>

    <div class="col-lg-3 col-sm-6 mydivstyle">
     <h4><i class="fas fa-address-card"></i> Hospital Address</h4>
        <p class="mt-3 font-weight-bold"><a href="https://maps.google.com/maps?q=Indra+Nagar+Madurai">Indra Nagar Madurai</a></p>
    </div>

    <div class="col-lg-3 col-sm-6 mydivstyle">
     <h4><i class="fas fa-address-card"></i></> Hospital Timing</h4>
        <p class="mt-3 font-weight-bold"><a href="9:00 AM to 10.00 PM">9.00 AM to 10.00 PM</a></p>
    </div>
</div>
</div>
{%  endblock  %}